In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

### Nike : Intra-brand

In [2]:
import os

In [3]:
os.getcwd()

'/Users/abhinavsharma/Documents/GitHub/Unstructured-Data-Analytics/Project'

In [20]:
nike_tf = pd.read_csv('./Nike/nike_caption_tf.csv')

In [21]:
nike_tf.dropna(inplace=True)

In [22]:
nike_tf.shape

(611, 2833)

In [23]:
nike_tf.drop(['Unnamed: 0', 'caption_list', 'caption'], inplace=True, axis=1)

In [24]:
nike_tf.isna().sum().sum()

0

In [25]:
nike_tf.sum(axis=0)

really             5
shawnjohnsons      1
toddantonyphoto    1
nosajthe           1
broken             1
                  ..
rise               7
tomckean           1
fencer             1
gomofarah          1
racer              2
Length: 2830, dtype: int64

In [26]:
nike_tf.sum(axis=0)

really             5
shawnjohnsons      1
toddantonyphoto    1
nosajthe           1
broken             1
                  ..
rise               7
tomckean           1
fencer             1
gomofarah          1
racer              2
Length: 2830, dtype: int64

In [27]:
freq_Nike = pd.DataFrame(nike_tf.sum(axis=0),nike_tf.columns,columns=['Frequency']).reset_index()
freq_Nike

                index  Frequency
0              really          5
1       shawnjohnsons          1
2     toddantonyphoto          1
3            nosajthe          1
4              broken          1
...               ...        ...
2825             rise          7
2826         tomckean          1
2827           fencer          1
2828        gomofarah          1
2829            racer          2

[2830 rows x 2 columns]

In [28]:
freq_Nike['Frequency'] = freq_Nike['Frequency'].astype(str).astype(int)
freq_Nike.describe()

         Frequency
count  2830.000000
mean      3.577032
std       8.989659
min       0.000000
25%       1.000000
50%       1.000000
75%       3.000000
max     281.000000

In [35]:
#FYR
freq_Nike.sort_values(by='Frequency',ascending=False)
freq_Nike.to_csv('freq_Nike.csv',index=False)

### Adidas

In [36]:
adidas_tf = pd.read_csv('./Adidas/adidas_caption_tf.csv')
adidas_tf.dropna(inplace=True)
adidas_tf.drop(['Unnamed: 0', 'caption_list', 'caption'], inplace=True, axis=1)
adidas_tf.isna().sum().sum()

0

In [38]:
freq_Adidas = pd.DataFrame(adidas_tf.sum(axis=0),adidas_tf.columns,columns=['Frequency']).reset_index()
#freq_Adidas

In [39]:
#FYR
freq_Adidas.sort_values(by='Frequency',ascending=False)
freq_Adidas.to_csv('freq_Adidas.csv',index=False)

### Nike - Top 20 percent engagement